.DS_Store

.project

.idea
angular2-dart-analyzer.iml

.packages
.pub
packages
pubspec.lock
deps/sdk
deps/.gclient

server_plugin/bin/server.snapshot

analyze_angular/tools/analysis_plugin/pubspec.yaml
