.DS_Store

.project

.idea
angular2-dart-analyzer.iml

.packages
.pub
.dart_tool
packages
pubspec.lock
deps/sdk
deps/.gclient

server_plugin/bin/server.snapshot

angular_analyzer_plugin/tools/analyzer_plugin/pubspec.yaml
